/* Reset and Base Styles */
:root {
    --primary: #6b5f5b;
    --primary-dark: #3b2921;
    --secondary: #ad8b79;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    color: var(--primary);
    font-family: monospace;
    font-size: 0.9rem;
}

.menu-icon{
    display: none;
}

main {
    max-width: 1200px;
    margin: 2px auto;
}

/* Typography */
h1 {
    font-weight: 800;
    color: var(--primary-dark);
    font-size: 2.5rem;
    font-family: "Nunito", serif;
    cursor: pointer;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--primary-dark);
    font-family: Open Sans", sans-serif;
    margin: 3rem 0rem;
    padding: 0;
}

h3 {
    font-family: monospace;
    font-weight: 700;
    color: var(--primary);
}

.me {
    text-align: right;
    font-size: 1.1rem;
    font-weight: 700;
}

/* Layout */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

.navigation {
    display: flex;
    margin: 0;
    font-size: 1rem;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.menu-list li {
    display: inline;
    color: var(--primary);
    font-weight: 600;
    font-family: "Nunito", serif;
}

.menu-list li a {
    text-decoration: none;
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    background: #f5f5f5;
    color: var(--secondary);
}

.menu-list li a svg {
    width: 20px;
    height: 20px;
}

.hor-line {
    height: 1px;
    border: none;
    background: linear-gradient(90deg, 
        rgba(255, 255, 255, 0) 0%,
        rgba(59, 43, 36, 0.8) 50%,
        rgba(255, 255, 254, 0) 100%
    );
    margin: 20px 0;
}

/* Components */
.love {
    font-family: monospace;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    margin: 20px 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #c48564;
    background: linear-gradient(150deg, rgba(0, 0, 0, 0.04) 70%, rgba(255, 254, 253, 0.35) 100%);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(192, 189, 188, 0.32);
  display: block;
  box-sizing: border-box;
}

.love span {
    border-right: 2px solid var(--primary);
    animation: cursor-blink 0.75s infinite;
}

@keyframes cursor-blink {
    0% { border-right-color: transparent }
    50% { border-right-color: var(--primary); }
    100% { border-right-color: transparent }
}

.secondary-btn {
    background-color: var(--secondary);
    border: none;
    border-radius: 12px;
    padding: 4px 9px;
    margin-top: 7px;
    font-size: 0.8.2rem;
    color: white;
    display: block;
}

.secondary-btn a {
    text-decoration: none;
    color: white;
}

/* Social Icons */
.social-icon {
    display: flex;
    gap: 1.5rem;
    justify-content: end;
    margin: 0.8rem 0;
}

.social-icon a {
    color: var(--primary);
    transition: color 0.3s ease;
}

.social-icon a:hover {
    color: var(--secondary);
}

.social-icon svg {
    width: 25px;
    height: 25px;
    border: 1px solid var(--primary);
    border-radius: 6px;
    padding: 3px;
}

.social-icon svg:hover {
    border: 1px solid var(--secondary);
}

/* Sections */
.hero {
    align-items: center;
}

/* Experience Section */
.timeline {
    padding: 2rem;
    margin: 0;
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: linear-gradient(180deg, 
        rgba(255, 255, 255, 0) 1%,
        rgba(173, 139, 121, 0.8) 4%,
        rgba(173, 139, 121, 0.8) 70%,
        rgba(255, 255, 254, 0.294) 100%
    );
}

.experience-item {
    position: relative;
    width: 100%;
    padding: 9px;
    margin: 12px 0px;
    margin-left: 0px;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(192, 189, 188, 0.32);
    display: block;
    box-sizing: border-box;
}

.experience-item::before {
    content: '';
    position: absolute;
    left: -35px;
    top: 24px;
    width: 12px;
    height: 12px;
    background: var(--secondary);
    border-radius: 50%;
    z-index: 1;
    transition: all 0.3s ease;
}

.experience-item::after {
    content: '';
    position: absolute;
    left: -30px; 
    top: 29px;
    width: 30px;
    height: 2px;
    background: var(--secondary);
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.experience-duration {
    display: inline-block;
    color: #6b7280;
    font-size: 0.8rem;
}

.experience-content {
    color: #4b5563;
    line-height: 1.5;
}

.experience-content li {
margin-left: 15px;
}

.experience-item:hover::before {
    background: var(--secondary);
    transform: scale(1.2);
    box-shadow: 0 0 10px var(--secondary);
}


/* Projects Section */
.project-wrapper {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    justify-content: space-between; /* Optional: adds space between boxes */
    gap: 1rem; /* Optional: space between the boxes */
}

.project-box {
    flex: 1 1 calc(33.333% - 1rem); /* Three per row, minus gap */
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid rgba(218, 212, 210, 0.767);
    border-radius: 6px;
}


.project-title {
    margin: 0;
    margin-bottom: 1rem;
}

.project-img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    margin-bottom: 1rem;
    border-radius: 6px; 
}

.project-skills {
    display: flex;
    margin-top: 6px;    
}

.project-skills span {
    background-color: #4e433f25;
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 3px;
    font-size: 0.7rem;
    text-align: center;
    align-items: center;
    min-height: none;
}

/* Publication Section */
.publication-item {
    margin-bottom: 12px;
}

.publication-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.publication-header span {
    background-color: #4e433f25;
    display: inline-block;
    margin: 0.2rem;
    padding: 0.3rem;
    border-radius: 3px;
    font-size: 0.7rem;
    text-align: center;
}

/* Skill Section */
.skill-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

.skill-container {
    width: 100%;
    padding: 0.7rem;
    background: linear-gradient(150deg, rgba(0, 0, 0, 0.04) 70%, rgba(255, 208, 185, 0.35) 100%);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(192, 189, 188, 0.32);
    display: block;
    box-sizing: border-box;
    margin: 0.5rem 0;
    font-size: 0.82rem;
}

.skill-desc {
    margin-bottom: 1rem;
}

.skill-set {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}


.skillset span {
    display: inline-block;
    margin: 0.7rem 0.3rem;
    background-color: #4e433f25;
    margin-top: -25px;
    padding: 0.2rem;
    border-radius: 3px;
    font-size: 0.9rem;
    text-align: center;
    align-items: center;
    min-height: none;
    cursor: pointer;
}

.skill-icon{
    width: 30px;
    height: 30px;
    color: var(--secondary);
}

#contact h3{
    margin-top: 21px;
    font-family: "Nunito", serif;
}
.contact-icon {
    gap: 1.5rem;
    margin: 0.8rem 0;
}

.contact-icon a {
    color: var(--primary);
    transition: color 0.3s ease;
}

.contact-icon a:hover {
    color: var(--secondary);
}

.contact-icon svg {
    width: 35px;
    height: 35px;
    border: 1px solid var(--primary);
    border-radius: 6px;
    padding: 3px;
    margin: 6px;
}

.contact-icon svg:hover {
    border: 1px solid var(--secondary);
}
/* Footer */
#footer {
    text-align: center;
    margin: 1rem;
    font-weight: 600;
}
